---
---

$blue: #0000c7;
$off-white: #f5f3f2;

html {
    font-size: 10px;
}

// Fonts

@font-face {
    font-family: 'NHG';
    src: url('../fonts/NHaasGroteskDSPro-55Rg.eot');
    src: url('../fonts/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NHaasGroteskDSPro-55Rg.svg#NHaasGroteskDSPro-55Rg') format('svg'),
         url('../fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype'),
         url('../fonts/NHaasGroteskDSPro-55Rg.woff') format('woff'),
         url('../fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

a {
    color: $blue !important;
    text-decoration: none !important;
}
  

// Layout

body {
    color: $blue;
    font-family: 'NHG', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    background: white;
}

nav {
    border-bottom: 1px solid $blue;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    .nav-logo img {
        height: 3.2rem;
        padding-left: .8rem;
    }

    .menu-burger {
        width: 3.2rem;
        height: 2px;
        margin-bottom: 6px;
        background: $blue;
    }

}

#menu-list {
    list-style: none;
    margin: 0;
    position: fixed;
    top: 4.8rem;
    bottom:0;
    left: 0;
    right: 0;
    padding: 3.2rem;
    background: $blue;
    z-index: 10;
    transition: .5s ease-out;

    &::before {
        content: '';
        display: block;
        width: 1px;
        background: white;
        position: absolute;
        top: 8.0rem;
        left: 3.2rem;
        bottom: 0;
    }

    &::after {
        content: '';
        display: block;
        border-left: 1px dashed white;
        position: absolute;
        top: 62.5%;
        left: 6.4rem;
        bottom: 0;
    }

    &:not(.open) {
        transform: translateX(100%);
        opacity: 0;
        z-index: -1;
    }

    .menu-item {
        text-align: right;
        text-transform: uppercase;
        color: white;
        line-height: 4.8rem;
        border: 1px solid white;
        border-width: 1px 0 0 1px;
        border-radius: 4.8rem 0 0 0;
        letter-spacing: .02em;

        a {
            color: white !important;
            transition: .3s;
        }

        &.active a, a:hover {
            letter-spacing: .8rem;
            margin-right: -.8rem;
        
            &::before {
                content: '→ ';
                letter-spacing: 0;
                margin-right: 1.6rem;
            }
        }
    }

    
}

footer {
    border-top: 1px solid $blue;
    clear: both;
}

.footer-list {
    text-align: right;
    padding: 0 1.6rem;
    list-style: none;
    text-transform: uppercase;
    line-height: 4.8rem;
}

#content {
    margin: 8.0rem 0 3.2rem;
    overflow: hidden;
}

// Page layouts

hr {
    margin: 4.8em auto;
    border: 1px solid $blue;
    position: relative;
    width: 75%;

    &::before {
        content: '\25C0';
        color: $blue;
        font-size: 1.5rem;
        position: absolute;
        left: -.5em;
        bottom: -1rem;
    }

    &::after {
        content: '\25B6';
        color: $blue;
        font-size: 1.5rem;
        position: absolute;
        right: -.5em;
        bottom: -1rem;
    }
}

.landing {
    padding-left: 3.2rem;

    img, video {
        max-width: 100%;

        @media(min-width: 768px){
            max-width: 50%;
            float: left;
        }
    }
    
    p.display {
        font-size: 6.4rem;
        line-height: 5.6rem;
        display: inline-block;
        margin: 3.2rem 0 1.6rem;

        @media(min-width: 768px){
            font-size: 8.0rem;
            line-height: 7.2rem;
            margin: 0 0 0 3.2rem;
        }

        @media(min-width: 1024px){
            font-size: 9.6rem;
            line-height: 8.8rem;
        }

        @media(min-width: 1280px){
            font-size: 10.8rem;
            line-height: 9.6rem;
        }
    }
}

.about, .services {

    p {
        font-size: 2.0rem;
        line-height: 2.4rem;
        letter-spacing: .02em;
        margin: 1em;

        @media(min-width: 768px){
            font-size: 3.6rem;
            line-height: 4.0rem;
            letter-spacing: .04em;
        }

        @media(min-width: 1280px){
            font-size: 4.8rem;
            line-height: 5.6rem;
        }
    }

    h1 {
        margin: 1em;
        font-size: 2.0rem;
        line-height: 2.4rem;
        letter-spacing: .02em;
        margin: 1em;

        @media(min-width: 768px){
            font-size: 3.6rem;
            line-height: 4.0rem;
            letter-spacing: .04em;
        }

        @media(min-width: 1280px){
            font-size: 4.8rem;
            line-height: 5.6rem;
        }
    }
}