<nav>
        <div class="nav-logo"><a href="{{site.baseurl | prepend: site.url }}/"><img src="{{site.baseurl}}/img/firme-logo.png" alt="Firmé"></a></div>
        <div id="menu-toggle">
            <div class="menu-burger"></div>
            <div class="menu-burger"></div>
            <div class="menu-burger"></div>
        </div>

        <ul id="menu-list">
            {% for item in site.data.nav.links %}
                <li class="menu-item {% if item.url == page.url %}active{% endif %}"><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>