<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include nav.html %}
    <div id="content">
        {{content}}
    </div>
  <footer>
      <div class="footer-info">
          <ul class="footer-list">
              <li class="footer-item"><a href="mailto:info@firme.us">info@firme.us</a></li>
              <li class="footer-item"><a href="https://instagram.com/firmeatelier">@firmeatelier</a></li>
              <li class="footer-item">intl-la corp.</li>
              <li class="footer-item">dba firmé &copy;2019</li>
          </ul>
      </div>
  </footer>  
</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script src="{{site.baseurl}}/js/nav.js"></script>

</html>