<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Firmé | {{page.title}}</title>
  <meta name="description" content="Firmé is a Los Angeles based atelier specializing in the design & development of branded goods.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#0000c7">
</head>

<body>
    <nav>
        <div class="nav-center">Firmé logo</div>
        <div class="menu-toggle">
                <div class="menu-burger" id="toggle1"></div>
                <div class="menu-burger" id="toggle2"></div>
                <div class="menu-burger" id="toggle3"></div>
            </div>
    </nav>
    <div id="menu">
        <ul class="menu-list">
            <li class="menu-item">about</li>
            <li class="menu-item">services</li>
            <li class="menu-item">reel</li>
            <li class="menu-item">archive</li>
            <li class="menu-item">shop</li>
        </ul>
    </div>
  {{content}}
  <footer>
      <div class="footer-border">
          <img src="" alt="">
      </div>
      <div class="footer-info">
          <ul class="footer-list">
              <li class="footer-item">info@firme.us</li>
              <li class="footer-item">@firmeatelier</li>
              <li class="footer-item">intl-la corp.</li>
              <li class="footer-item">dba firmé &copy;2019</li>
          </ul>
      </div>
  </footer>  
</body>

</html>