<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Firmé | {{page.title}}</title>
  <meta name="description" content="Firmé is a Los Angeles based atelier specializing in the design & development of branded goods.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#0000c7">
</head>

<body>
    <nav>
        <div class="nav-logo"><a href="/"><img src="img/firme-logo.png" alt="Firmé"></a></div>
        <div id="menu-toggle">
            <div class="menu-burger"></div>
            <div class="menu-burger"></div>
            <div class="menu-burger"></div>
        </div>

        <ul id="menu-list">
            {% for item in site.data.nav.links %}
                <li class="menu-item {% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <div id="content">
        {{content}}
    </div>
  <footer>
      <div class="footer-info">
          <ul class="footer-list">
              <li class="footer-item"><a href="mailto:info@firme.us">info@firme.us</a></li>
              <li class="footer-item"><a href="https://instagram.com/firmeatelier">@firmeatelier</a></li>
              <li class="footer-item">intl-la corp.</li>
              <li class="footer-item">dba firmé &copy;2019</li>
          </ul>
      </div>
  </footer>  
</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script src="js/nav.js"></script>

</html>